body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.popup{
   position: absolute;
   top: 30%;
   left: 35%;
   width: 30%;
   height: 100px;
   border-radius: 10px;
   box-shadow: 5px 5px 2px rgb(123, 122, 122);
   background-color: beige;
   border: 1px solid black;
   display: none;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.on{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.btn{
    background-color: rgb(224, 117, 224);
    padding: 20px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 2px rgb(123, 122, 122);
    border: 1px solid rgb(175, 56, 129);
}
.btnok{
    background-color: rgb(214, 93, 214);
    padding: 20px;
    border-radius: 8px;
    color: white;
    border: 1px solid rgb(98, 26, 70);
}

@media ( max-width : 500px){
    .popup{
        width: 100%;
        right: 10px;
        justify-content: space-around;
    }
    .btnok{
        padding: 10px;
    }
    .maintext{
        font-size: 18px;
    }
}

@media ( max-width : 700px){
    .popup{
        width: 90%;
        left: 5%;
    }
}

@media ( max-width : 900px){
    .popup{
        width: 70%;
        left: 15%;
    }
}